@import '../../variables';

#listtechnicalskills {
    text-align: center;
}

#listtechnicalskills li {
    float: left;
    padding: 10px;
    color: white;
    width: 88px;
    height: 88px;
    background-color: $blue-color;
    border: 2px solid $pink-color;
}

#iconhtml5:hover {
    color: orange;
}

#iconcss3:hover {
    color: lightskyblue;
}

#iconjs:hover {
    color: yellow;
}

#icongit:hover {
    color: darkorange;
}

#iconreact:hover {
    color: lightskyblue;
}

#iconjson:hover {
    color: rgb(87, 90, 92);
}

@media (max-width: 576px) {
    #technicalskillscontainer {
        float: left;
    }

    #listtechnicalskills li {
        width: 33%;
    }

    #personalskillscontainer {
        display: none;
    }
}