@import "../../variables";
.listtechnicalskills {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    li {
        padding: 10px;
        color: $black-color;
        width: 88px;
        height: 88px;
    }
}

#icon {
    &html5:hover {
        color: orange;
    }

    &css3:hover {
        color: lightskyblue;
    }

    &js:hover {
        color: #ebeb2f;
    }

    &git:hover {
        color: darkorange;
    }

    &react:hover {
        color: lightskyblue;
    }

    &json:hover {
        color: rgb(87, 90, 92);
    }

    &sass:hover {
        color: rgb(226, 25, 209);
    }
}

@media (max-width: 576px) {
    .technicalskillscontainer {
        float: left;
    }
    .listtechnicalskills li {
        width: 33%;
    }
    .personalskillscontainer {
        display: none;
    }
}
