@import '../variables';
@import url('https://fonts.googleapis.com/css2');
header {
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 150px;
    grid-area: header;
    text-align: center;
}

.pagename {
    font-size: 80px;
    color: $blue-color;
}

.introduction {
    font-size: 50px;
    color: $pink-color;
}

.menu {
    background-color: $blue-color;
    padding: 28px;
    border-bottom-right-radius: 58%;
    border-top-left-radius: 58%;
    border-bottom-left-radius: 4%;
    border-top-right-radius: 4%;
    width: 100%;
    top: 0;
    position: fixed;
    list-style-type: none;
    z-index: 1;
}

.menuitem {
    cursor: grab;
    font-weight: 400;
    float: center;
    float: left;
    margin-left: 22%;
    color: #fff;
}

.menuitem:hover {
    color: $pink-color;
}

.pagenamemobile {
    display: none;
}

@media (max-width: 1200px) {
    .pagename {
        font-size: 45px;
    }
    .introduction {
        font-size: 35px;
    }
}

@media (max-width: 825px) {
    .pagename {
        font-size: 40px;
    }
    .introduction {
        font-size: 18px;
    }
    .menuitem {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .pagename {
        display: none;
    }
    .pagenamemobile {
        display: grid;
        font-size: 67px;
        color: $blue-color;
    }
    .menuitem {
        margin-left: 18%;
        font-size: 10px;
    }
}