@import "../scss/variables/variables";
@import url("https://fonts.googleapis.com/css2");
@import "../scss/mixins/spacing";
@import "../scss/mixins/flex";

header {
    font-family: $nanum-font;
    margin-top: 150px;
    grid-area: header;
    text-align: center;
}

.welcome {
    font-weight: 700;
    font-size: 60px;
    font-family: monospace;
    text-transform: uppercase;
    background: linear-gradient(90deg, $black-color, $white-color, $black-color);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear;
    position: relative;
    opacity: 0;
}

@keyframes shine {
    0% {
        opacity: 1;
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}

.possible {
    @include margin-y(80px);
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    letter-spacing: 7px;
    span {
        color: rgb(114, 114, 114);
        transition: 0.4s linear;
    }
    &:hover {
        span {
            color: $white-color;
            text-shadow: 0 0 10px $white-color, 0 0 20px $white-color, 0 0 40px $white-color;
            &:first-child {
                margin-right: 5px;
                &:after {
                    content: "'";
                }
            }
            &:last-child {
                margin-left: 30px;
            }
        }
    }
}

.pagename {
    font-size: 54px;
    font-weight: 900;
    color: $blue-color;
}

.introduction,
.introductionbold {
    font-size: 38px;
}

.introduction {
    color: $white-color;
}

.introductionbold {
    color: $blue-color;
    font-weight: 900;
    &:hover {
        cursor: pointer;
        text-shadow: 0 0 10px rgb(73, 115, 231), 0 0 20px rgb(73, 115, 231), 0 0 40px rgb(73, 115, 231);
    }
}

.pagenamemobile,
.introductionmobile {
    display: none;
}

@media (max-width: 825px) {
    .pagename {
        font-size: 40px;
    }
    .introduction,
    .introductionbold {
        font-size: 24px;
    }
    .menuitem {
        font-size: 12px;
        width: 22%;
    }
    .menu {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .pagename,
    .introductionbold,
    .introduction {
        display: none;
    }
    .pagenamemobile {
        display: grid;
        font-size: 67px;
        color: $blue-color;
    }
    .introductionmobile {
        display: block;
        font-size: 40px;
        color: $blue-color;
    }
    .menuitem {
        margin-left: 18%;
        font-size: 10px;
    }
}
