@import '../variables';
@import url('https://fonts.googleapis.com/css2');

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "header .";
}

header {
    font-family: $font;
    margin-top: 150px;
    grid-area: header;
    text-align: center;
}

.pagename {
    font-size: 80px;
    color: $blue-color;
}

.introduction {
    font-size: 50px;
    color: $pink-color;
}

.navbar {
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1;
    color: #fff;
    position: fixed;
    background-color: $blue-color;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.menu {
      list-style-type: none;
      float: right;
}

.menuitem {
    padding: 27px 51px;
    cursor: -webkit-grab;
    cursor: grab;
    font-weight: 400;
    float: left;
}
.menuitem:hover{
    color: $pink-color
}

.pagenamemobile {
    display: none;
}




@media (max-width: 1200px) { 
    .pagename {
        font-size: 45px;
    }
    .introduction {
        font-size: 35px;
        }
        .menuitem {
            padding-left: 50px;
            font-size: 18px;
     }  
 }
 @media (max-width: 992px) { 
    .menuitem {
        padding-left: 44px;
        font-size: 10px;
 }  
 }
 @media (max-width: 825px) {
    .pagename {
        font-size: 40px;
    } 
    .introduction {
        font-size: 18px;
        }
    .menuitem {
        padding-left: 35px;
        font-size: 12px;
     }  
}

 @media (max-width: 576px) {   
     .pagename {
         display: none;
     } 
    .pagenamemobile {
        display: grid;
        font-size: 67px;
        color: $blue-color;
    }
    .menuitem {
        padding-left: 18px;
        font-size: 9px;
 }  

}