#other {
    overflow: hidden;
}

#title {
    float: left;
}

.main {
    margin: 0 20%;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

#generaldata {
    margin: 115px 45px 0;
    font-size: 20px;
}

#generaldata li {
    padding-top: 5px;
}

#generaldata a {
    color: initial;
    text-decoration: none;
    font-style: italic;
}

#generaldata svg {
    color: rgb(141, 15, 63);
}

#generalcontainer {
    padding-top: 50px;
    
}

#educationlist li {
    margin-bottom: 15px;
}

#download {
    float: right;
    text-decoration: none;
    color: black;
    background-color: #fdcece;
    padding: 12px;
    border-radius: 5px;
}

.abouticoncaptionshort {
    display: none;
}

@media (max-width: 1200px) { 
    #generaldata {
        margin: 10px;
    }
 }

@media (min-width: 992px) {  }

@media (max-width: 768px) {
    #generaldata {
        font-size: 15px;
    }

    #myphoto {
        height: 200px;
    }
    
    .main {
        margin: 15px 5%;
    }
 }
 

@media (max-width: 576px) {
    h2 {
        width: 100%;
        text-align: center;
    }

    #download {
        float: none;
        display: block;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        border: 2px solid rgb(166, 39, 87);
    }

    #myphoto {
        display: block;
        margin: 0 auto;
        border: 2px solid rgb(166, 39, 87);
    }

    .abouticoncaptionlong {
        display: none;
    }

    .abouticoncaptionshort {
        display: initial;
    }

    #generaldata {
        display: flex;
        justify-content: space-around;
    }

    #generaldata li {
        float: left;
        padding: 10px;
        border: 2px solid rgb(166, 39, 87);
    }
    
    #generaldata li:first-child {
        display: none;
    }
}