@import "../scss/variables/variables";
@import "../scss/mixins/spacing";
@import "../scss/mixins/media-query";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  float: left;
}

.main {
  @include margin-x(10%);
  background-color: $white-color;
  padding: 24px;
  border-radius: 6px;
  font-family: $lobster-font;
  @include tablet {
    @include margin-x(0);
  }
}

.email {
  color: $black-color;
  height: 100%;
  background-color: $pink-color;
  padding: 12px;
  border-radius: 6px;
}

.generaldata {
  margin: 115px 45px 0;
  font-size: 20px;
  li {
    padding-top: 5px;
    svg {
      color: $violet-color;
    }
    &:hover svg {
      color: $pink-color;
    }
    .mobilecaption {
      display: none;
    }
    .caption {
      font-style: italic;
      cursor: pointer;
    }
  }
  a {
    color: initial;
    text-decoration: none;
    font-style: italic;
  }
}
.educationlist li {
  margin-bottom: 15px;
}
