.sectioncontainer {
    overflow: hidden;
}

.block {
    width: 50%;
    float: left;
}

.list {
    padding: 0;
    list-style-type: none;
}

@media (max-width: 1200px) {
    .block {
        width: 100%;
    }
}