.container {
    display: flex;
    .column {
        width: 50%;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
}

.list {
    padding: 0;
    list-style-type: none;
}
