@import "../../../scss/mixins/box";
@import "../../../scss/mixins/flex";
@import "../../../scss/variables/variables";

.listtechnicalskills {
  text-align: center;
  @include flex-center;
  flex-flow: row wrap;
  li {
    padding: 10px;
    color: $black-color;
    @include box(88px, 80px);
  }
}

#icon {
  &html5:hover {
    color: orange;
  }

  &css3:hover {
    color: lightskyblue;
  }

  &js:hover {
    color: #ebeb2f;
  }

  &git:hover {
    color: darkorange;
  }

  &react:hover {
    color: lightskyblue;
  }

  &json:hover {
    color: rgb(87, 90, 92);
  }

  &sass:hover {
    color: rgb(226, 25, 209);
  }
}
