@import "../../scss/variables/variables";
@import "../../scss/mixins/spacing";
@import "../../scss/mixins/media-query";

.cv {
  @include margin-x(10%);
  background-color: $white-color;
  padding: 24px;
  border-radius: 6px;
  font-family: $lobster-font;
  @include tablet {
    @include margin-x(0);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      padding-right: 15px;
      @include mobile {
        font-size: 20px;
      }
    }
    .contactMe {
      color: $pink-color;
      text-transform: uppercase;
      margin-right: 15px;
      font-size: 12px;
      font-weight: 800;

      @include large-mobile {
        display: none;
      }
    }
    .email {
      color: $black-color;
      height: 100%;
      background-color: $pink-color;
      padding: 12px;
      border-radius: 6px;
      &:hover {
        color: $white-color;
      }
    }
  }
  .generaldata {
    margin: 115px 45px 0;
    font-size: 20px;
    @include media-custom-max(430px) {
      margin: 0;
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;
    }
    li {
      padding-top: 5px;
      @include mobile {
        &:last-child {
          display: none;
        }
      }
      svg {
        color: $violet-color;
        @include mobile {
          font-size: 40px;
        }
      }
      &:hover svg {
        color: $pink-color;
      }
      .caption {
        font-style: italic;
        cursor: pointer;
        @include mobile {
          display: none;
        }
      }
    }
    a {
      color: initial;
      text-decoration: none;
      font-style: italic;
    }
  }
  .educationlist li {
    margin-bottom: 15px;
  }
}
