@import "../../scss/mixins/media-query";

.container {
  display: flex;
  @include mobile {
    &:nth-child(2) {
      align-items: flex-end;
    }
    &:nth-child(3) {
      flex-direction: column;
    }
  }
  @include media-custom-max(430px) {
    &:nth-child(2) {
      flex-direction: column;
      text-align: center;
    }
  }
  .column {
    width: 50%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}

.list {
  padding: 0;
  list-style-type: none;
}
