@import "../../../scss/mixins/spacing";
@import "../../../scss/mixins/position";
@import "../../../scss/mixins/media-query";
@import "../../../scss/mixins/box";
@import "../../../scss/mixins/flex";
@import "../../../scss/variables/variables";

.revertContainer {
  flex-direction: row-reverse;
  .infoColumn {
    padding: 40px 40px 40px 0;
  }
  .viewProject {
    @include desktop-only {
      margin-right: 40px;
    }
  }
}

.container {
  .infoColumn {
    padding: 40px 0 40px 40px;
  }
}

.container,
.revertContainer {
  width: 100%;
  @include flex-center;
  color: $white-color;
  font-family: $lobster-font;
  @include margin-y(60px);
  @include large-mobile {
    &:not(:first-child) {
      @include margin-y(30px);
    }
    flex-direction: column;
  }
  img {
    @include box(60%, 100%);
    max-height: 300px;
    box-shadow: 0 0 24px 6px;
    @include large-mobile {
      width: 100%;
    }
  }
  .infoColumn {
    position: relative;
    @include large-mobile {
      padding: 0 0 20px 0;
    }
  }
  .techused {
    @include padding-y(15px);
  }
  .viewProject {
    @include position(absolute, null, 0, 0);
    text-decoration: none;
    font-weight: 600;
    color: $pink-color;
    &:hover {
      transform: scale(1.2);
      border-bottom: 2px solid $pink-color;
      transition: transform 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    }
  }
}
