@import "../variables";

.navigation {
    width: 100%;
    background-color: $blue-color;
    top: 0;
    position: fixed;
    display: flex;
    margin: 0;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    z-index: 1;
    background: linear-gradient(180deg, $blue-color 88%, transparent 100%);
    &__item {
        cursor: grab;
        font-weight: 600;
        font-family: $lobster-font;
        color: $black-color;
        text-align: center;
        padding: 20px;
    }
}
