@import '../../variables';

.container {
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 45px;
    background-color: $main-color;
    width: 30%;
    text-decoration: none;
    box-shadow: 7px 6px 25px 3px rgb(64, 62, 64);
}

.container:hover {
    transform: scale(1.1);
    transition: ease-in;
}

.name {
    text-align: center;
    color: white;
    background-color: $main-color;
}

.techdescription {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    color: $light-color;
}

.description {
    margin-top: 25px;
}

.imagecontainer > img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}