@import "./scss/variables/variables";

body {
  background-color: $black-color;
}

.aboutMe {
  padding: 55px 10%;
  background: linear-gradient(
    0deg,
    $pink-color 0,
    $violet-color 32%,
    $black-color 100%
  );
}

.cv {
  background: linear-gradient(180deg, $pink-color 32%, $violet-color 100%);
  background-color: $pink-color;
  padding: 55px 10%;
}

.projects {
  background: linear-gradient(180deg, $violet-color 0, $black-color 100%);
  padding: 0 10%;
}

footer {
  color: $white-color;
  text-align: center;
  font-family: $nanum-font;
  background-color: $violet-color;
}
