@import 'variables';
.container {
    margin-top: 10%;
}

.section {
    margin-top: 55px;
    scroll-margin-top: 140px;
}

#cv {
    background-color: $pink-color;
    padding: 55px 0;
}

#projects {
    margin: 55px 10% 30px;
}

footer {
    color: #fff;
    text-align: center;
    background-color: $pink-color;
}

@media (max-width: 768px) {
    #cv {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 576px) {
    #projects {
        margin: 0;
    }
}