@import 'variables';

.container {
    margin-top: 155px;
    overflow: hidden;
}

.section {
    margin-top: 55px;
    scroll-margin-top: 140px;
}

.introduction {
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
    color: $pink-color;
}

#cv {
    background-color: $pink-color;
    padding: 55px 0;
}

#projects {
    margin: 55px 10% 30px;
}

footer {
    color: #fff;
    text-align: center;
    background-color: $pink-color;
}

@media (max-width: 768px) {
    #cv {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .introduction {
        font-size: 30px;
        }
}

@media (max-width: 576px) {
    #projects {
        margin: 0;
    }
}