.app-container {
    margin-top: 155px;
    overflow: hidden;
}

.app-section {
    margin-top: 55px;
}

#app-cv {
    background-color: rgb(141, 15, 63);
    padding: 55px 0;
}

@media (max-width: 768px) {
    #app-cv {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}