$blue-color: #6962d6;
$pink-color: #e67ea5;
$blue-color: #829cff;
$violet-color: #350545;
$black-color: #000;
$white-color: #fff;

$nanum-font: 'Nanum Pen Script', cursive;
$lobster-font: 'Lobster', cursive;