@import '../variables';

.container {
    padding: 40px;
    color: #fff;
    border-radius: 5px;
    background-color: $blue-color;
    margin: 0 20%;
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        margin: 0;
    }
}