@import "../scss/variables/variables";
@import "../scss/mixins/media-query";

.container {
  font-weight: 400;
  color: $white-color;
  font-family: $nanum-font;
  letter-spacing: 2px;

  @include mobile {
    text-align: center;
  }
}
