@import '../variables';

.container {
    padding: 40px;
    color: $light-color;
    border-radius: 5px;
    background-color: $main-color;
    box-shadow: inset 0px 0px 57px 10px rgb(37, 28, 33);
    margin: 0 20%;
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        margin: 0;
    }
}