@import "../scss/variables/variables";

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.name {
  font-family: $nanum-font;
  font-size: 55px;
  text-align: center;
  font-weight: 600;
  color: $blue-color;
}
