@import '../variables';

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 20px;
    padding: 20px;
}

.name {
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    color: $pink-color;
}
